@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

* .navbar a {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}

p {
    font-weight: 400;
}

.spc3 {
    color : #00A2E8;
    font-weight: 700;
}

.cstm-h1 {
    font-weight: 700;
}

h1 {
    color: #00A2E8;
    font-weight: 300;
}

h3 {
    color: #00A2E8;
    font-weight: 300;
}

.btn-primary {
    background: none;
    border: 1px solid #00A2E8;
    color: #00A2E8;
}

.btn-primary:hover {
    background: #00A2E8;
    color: floralwhite;
}

hr {
    border: 10px solid #00A2E8;
    margin-top: -70px;
}

.main-p {
    margin-right: -100px;
    margin-left: 150px
}

.nav-link:hover {
    color: #60cfff !important;
}

@media only screen and (max-width: 768px) {
    hr {
        margin-top: 0px;
    }

    .main-p {
        margin: 0px;
    }

    .nav-item {
        margin-left: 0 !important;
    }

    .navbar a{
        margin-left: 0 !important;
    }

    .login {
        margin-top: 20px;
    }

    .spc {
        margin-top: 0 !important;
    }
}